$home-bg-rgb: 64, 64, 64;
$home-bg: rgba(64, 64, 64, 1);

$font-family: 'Poppins';

// https://colorswall.com/palette/154112
$cyberpunk-cyan: #02d7f2;
$cyberpunk-yellow: #f2e900;
$cyberpunk-blue: #007aff;
$cyberpunk-red: #ff1111;


// landcape

$landscape-light-bg: rgba(var(--bs-light-rgb), 1);
$landscape-dark-bg: rgba(var(--bs-dark-rgb), 1);


//navpills

$navpill-color: rgba(123, 123, 123, .77);
$navpill-active-color: rgba(202, 63, 63, 0.94);

// bootstrap overrides
$include-column-box-sizing: true;
$font-family-sans-serif: $font-family, sans-serif;
$color-mode-type: media-query;
$tooltip-font-size: 1.1rem;
$tooltip-padding-x: 1.5rem;
$tooltip-padding-y: .575rem;
$tooltip-margin: 1rem;
$tooltip-border-radius: 1.5rem;