//@use "bootstrap-utilities";

@use './components/swiper';
@use './components/devicon';
@use './components/bootstrap';
@use './components/izitoast';
@use './components/gerillass' as g;
@use './helpers' as *;

@use './components/navbar' as *;
@use './components/navpills' as *;
@use './pages/landscape' as *;
@use './pages/home' as *;
@use './pages/about' as *;
@use './pages/skills' as *;
@use './pages/projects' as *;
@use './pages/contact' as *;

html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    user-select: none;
    overflow-x: hidden;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &.active {
        pointer-events: none !important;
    }
}

.page {
    min-height: 100vh;
    // padding-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .container {
        min-height: 60vh;

        display: flex;
        flex-direction: column;

        .heading {
            height: 20vh;
            margin-top: 72px;
        }
    }

    // @include lg {
    //     padding-top: 64px;
    // }
}

@include navpills;
@include navbar;
@include home;
@include about;
@include projects;

@include skills;
@include contact;
@include landscape;
