$home-bg: #F5DE7F;
$home-color: #404040;
$font-family: 'Poppins';

// normalize.scss overrides
$base-unit: 'rem';
$base-font-family: 'Poppins', sans-serif;
$indent-amount: 2.5rem;

// bootstrap overrides
$include-column-box-sizing: true;