$home-bg: #f8f9fa;
$home-color: #404040;
$font-family: 'Poppins';

// https://colorswall.com/palette/154112
$cyberpunk-cyan: #02d7f2;
$cyberpunk-yellow: #f2e900;
$cyberpunk-blue: #007aff;
$cyberpunk-red: #ff1111;





// bootstrap overrides
$include-column-box-sizing: true;
$font-family-sans-serif: $font-family, sans-serif;
$color-mode-type: media-query;