//@use "bootstrap-utilities";

@use 'components/bootstrap';

@use 'components/gerillass' as g;

@use 'helpers' as *;



html
{
    font-size: 16px;
    line-height: 1.2;
    /* slide scroll */
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;

}


body
{
    min-height: 100vw;
    margin: 0;
}


*,
::before,
::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a
{
    text-decoration: none;
}


/* Text meant only for screen readers. */
.screen-reader-text
{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}


.tooltip
{
    @include font-size(g.remify(14px));

    display: inline-block;

    border-radius: 5rem;
    right: 2.3rem;
    top: -.5rem;
    background: #222;
    color: #fff;
    padding: .575rem 1.5rem;
    position: absolute;
    max-width: 220px;

    visibility: hidden;
    white-space: nowrap;
    opacity: 0;

    transition: opacity .7s ease-in-out;
    text-transform: uppercase;

    &::after
    {
        border: .6rem solid transparent;
        border-left-color: #222;
        bottom: 50%;
        content: '';
        position: absolute;
        margin-bottom: -.6rem;
        right: -1rem;

        @include sizer(0);
    }

}

*:hover > .tooltip
{
    opacity: 1;
    visibility: visible;
}

.nav-pills
{
    position: fixed;
    right: 1vw;
    z-index: 10;
    top: 50vh;
    transform: translateY(-50%);

    ul
    {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        li
        {
            margin: .125rem 0;
            position: relative;

            .pill
            {

                border: 2px solid;
                border-radius: 50%;
                display: inline-block;

                outline: 0;
                border-color: rgba(123, 123, 123, .77);
                padding: 3px;

                transition: border-color .4s ease-in-out;
            }

            &.active
            {
                .pill
                {
                    border-color: rgba(202, 63, 63, 0.94);
                    padding: 5px;

                }

            }
        }
    }
}



.page
{
    min-height: 100vh;
    scroll-snap-align: start;
    transition: transform 1s ease-in-out, visibility 1s ease-in-out;

}



/* Landing Page */

#home
{
    background: $home-bg;
    color: $home-color;
}