//@use "bootstrap-utilities";

@use 'components/bootstrap';
@use 'components/izitoast';
@use 'components/gerillass' as g;
@use 'helpers' as *;
@use 'components/switch';
@use './components/animated/attention_seekers/rubberBand' as *;



html {
    font-size: 16px;
    line-height: 1.2;
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    background: #f8f9fa;

    &[data-bs-theme=dark] {
        background: #212529;
    }

    @media (prefers-color-scheme: dark) {
        background: #212529;
    }
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


a {
    text-decoration: none;
}


/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}


.tooltip {
    @include font-size(g.remify(14px));

    display: inline-block;

    border-radius: 5rem;
    right: 2.3rem;
    top: -.5rem;
    background: #222;
    color: #fff;
    padding: .575rem 1.5rem;
    position: absolute;
    max-width: 220px;

    visibility: hidden;
    white-space: nowrap;
    opacity: 0;

    transition: opacity .7s ease-in-out;
    text-transform: uppercase;

    &::after {
        border: .6rem solid transparent;
        border-left-color: #222;
        bottom: 50%;
        content: '';
        position: absolute;
        margin-bottom: -.6rem;
        right: -1rem;

        @include sizer(0);
    }

}

*:hover>.tooltip {
    opacity: 1;
    visibility: visible;
}

.nav-pills {
    position: fixed;
    right: 1vw;
    z-index: 10;
    top: 50vh;
    transform: translateY(-50%);

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        li {
            margin: .125rem 0;
            position: relative;

            .pill {

                border: 2px solid;
                border-radius: 50%;
                display: inline-block;

                outline: 0;
                border-color: rgba(123, 123, 123, .77);
                padding: 3px;

                transition: border-color .6s ease-in-out;

                &.active {
                    border-color: rgba(202, 63, 63, 0.94);
                    padding: 5px;
                    pointer-events: none;
                }

            }


        }
    }
}



header.fixed-top {
    min-height: 64px;
    background: rgba(var(--bs-light-rgb), .8);
    backdrop-filter: blur(3px);
}

@include bootstrap.color-mode('dark') {
    header.fixed-top {
        background: rgba(var(--bs-dark-rgb), .8);
    }
}

.navbar-shown,
.navbar-collapsing {
    @include lg-down {
        header.fixed-top {
            min-height: 100vh;
        }
    }
}


.page {
    // fixed header size
    padding-top: 80px;
    min-height: 100vh;
    //scroll-snap-align: end;
    transition: transform 1s ease-in-out, visibility 1s ease-in-out;

}

/* Social media icons */


.social-media-link {
    svg {
        max-width: 24px;
        max-height: 24px;
    }
}



/* Logo */

.navbar-brand {
    svg {
        min-width: 32px;
        min-height: 32px;
        max-width: 40px;
        max-height: 40px;
    }


}

/* nav links */
.navbar .nav-link {

    position: relative;


    &:hover {
        font-weight: 700;
    }


    @include lg {
        &::after {
            content: '';
            position: absolute;
            bottom: .125rem;
            background-color: $home-color;
            border-radius: 50%;
            height: .125rem;
            left: 50%;
            right: 50%;
            transition: left .5s ease-in-out, right .5s ease-in-out;
        }

        &:hover::after {
            left: 5%;
            right: 5%;
        }
    }
}

.navbar .navbar-brand,
.navbar .nav-link,
.social-media-link svg {
    color: rgba(var(--bs-dark-rgb), .8);

    &:hover {
        color: rgba(var(--bs-dark-rgb), 1);
    }
}


.nav-link.active {
    color: var(--bs-navbar-active-color) !important;
}

@include bootstrap.color-mode('dark') {

    .navbar .navbar-brand,
    .navbar .nav-link,
    .social-media-link svg {
        color: rgba(var(--bs-light-rgb), .8);

        &:hover {
            color: rgba(var(--bs-light-rgb), 1);
        }
    }
}


/* Hamburger */
@include lg-down {

    .hamburger {

        width: 40px;
        position: absolute;
        height: 3px;

        right: 0;

        transition: transform .5s ease-in-out;


        &::before,
        &::after {
            position: absolute;
            content: '';
            height: 3px;
            width: 40px;
            top: -.75rem;

            right: 0;
            transition: transform .5s ease-in-out;
        }

        &::after {
            top: .75rem;
            transition: width .25s ease-in-out;
        }
    }

    .navbar-toggler {

        box-shadow: none !important;
        border: 0 !important;
        position: relative;
        height: 40px;
        width: 40px;

        &[aria-expanded="true"] {


            .hamburger {

                transition: transform .5s ease-in-out;
                transform: rotate(45deg);

                &::after {
                    width: 0;
                }

                &::before {
                    transform: translateY(.75rem) rotate(90deg);
                    transition: transform .5s ease-in-out;
                }
            }
        }
    }
}


.navbar-toggler {

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: rgba(var(--bs-dark-rgb), .8);
    }

    &:hover {

        .hamburger,
        .hamburger::before,
        .hamburger::after {
            background: rgba(var(--bs-dark-rgb), 1);
        }
    }
}


.switch {
    background: rgba(0, 0, 0, .3) !important;
    transform: scale(.9);
}

#darkmode-slider {
    & svg[data-mode="dark"] {
        display: none;
    }

}


@include bootstrap.color-mode('dark') {
    .navbar-toggler {

        .hamburger,
        .hamburger::before,
        .hamburger::after {
            background: rgba(var(--bs-light-rgb), .8);
        }

        &:hover {

            .hamburger,
            .hamburger::before,
            .hamburger::after {
                background: rgba(var(--bs-light-rgb), 1);
            }
        }
    }

    #darkmode-slider {
        & svg[data-mode="light"] {
            display: none;
        }


        & svg[data-mode="dark"] {
            display: initial;
        }

    }

}

@media (prefers-color-scheme: 'dark') {

    /* darkmode button */
    .navbar .switch {
        display: none;
    }
}


/* Landing Page */


.blast:hover {
    @extend %rubberBand;
    display: inline-block;
}


#home {
    // background: $home-bg;
    color: $home-color;
    position: relative;
    user-select: none;
    background: #161616;


    h1,
    h2 {
        cursor: pointer;
        background-image: linear-gradient(-225deg,
                $cyberpunk-cyan 0%,
                $cyberpunk-yellow 29%,
                $cyberpunk-blue 67%,
                $cyberpunk-red 100%);

        background-clip: text;
        //--webkit-background-clip: text;
        background-size: 200% auto;
        color: #fff;
        -webkit-text-fill-color: transparent;
        animation: tclip 5s linear infinite;
    }

    .row {
        min-height: 100%;
    }

    @include lg-down {
        h1 {
            font-size: calc(1.325rem + 0.9vw);
        }

        h2 {
            font-size: calc(1.3rem + 0.6vw);
        }
    }
}


@keyframes tclip {
    to {
        background-position: 200% center;
    }
}


// scroll down button
@keyframes scrollDownButton {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.scroll-down-button {
    padding-top: 60px;

    span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid #fff;
        border-radius: 50px;
        box-sizing: border-box;

        &:before {
            position: absolute;
            top: 10px;
            left: 50%;
            content: '';
            width: 6px;
            height: 6px;
            margin-left: -3px;
            background-color: #fff;
            border-radius: 100%;
            animation: scrollDownButton 2s infinite;
            box-sizing: border-box;
        }
    }

}

// Contact page

#about {

    #message {
        height: 128px;

    }
}