@use '../animation';

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
%flash {
    @include animation.load-animation(flash);
}

@mixin animated-flash (
    $duration: null,
    $delay: null,
    $function: null,
    $direction: null,
    $fill: null,
    $count: null,
    $visibility: null,
    $composition: null
)
{
    @extend %flash;
    @include set-animation-properties(
        $duration,
        $delay,
        $function,
        $direction,
        $fill,
        $count,
        $visibility,
        $composition
    );    
}
