@use '../animation';

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
%headShake {
    @include animation.load-animation(headShake) {
        @include animation.function(ease-in-out);
    }
}

@mixin animated-headShake (
    $duration: null,
    $delay: null,
    $function: null,
    $direction: null,
    $fill: null,
    $count: null,
    $visibility: null,
    $composition: null
)
{
    @extend %headShake;
    @include set-animation-properties(
        $duration,
        $delay,
        $function,
        $direction,
        $fill,
        $count,
        $visibility,
        $composition
    );    
}
