@use 'sass:math';


@mixin font-size($font-size,
    $font-weight: null,
    $line-height: null)
{
    @if $font-size
    {

        font-size: $font-size;
    }

    @if $line-height
    {
        line-height: $line-height;
    }

    @if $font-weight
    {
        font-weight: $font-weight;
    }
}


@mixin font-family($font-family,
    $font-size: 16px,
    $line-height: 1.2,
    $font-weight: 400,
    $font-style: normal,
    $font-stretch: normal,
)
{
    @if $font-family
    {
        font-family: $font-family, sans-serif;
        @include font-size($font-size, $font-weight, $line-height)
    }

    font:
    {
        style: $font-style;
        stretch: $font-stretch;
    }

}


@mixin visually-hidden
{
    position: absolute;
    color: #00000000;
    background: #00000000;
    z-index: -1;
    visibility: hidden;
}


@mixin margin-x($value)
{

    @if $value
    {
        margin:
        {
            left: $value;
            right: $value;
        }
    }

}


@mixin margin-y($value)
{
    @if $value
    {
        margin:
        {
            top: $value;
            bottom: $value;
        }
    }
}

@mixin padding-x($value)
{
    @if $value
    {
        padding:
        {
            left: $value;
            right: $value;
        }
    }
}


@mixin padding-y($value)
{
    @if $value
    {
        padding:
        {
            top: $value;
            bottom: $value;
        }
    }
}


@mixin overlay ($top: 0,
    $left: 0,
    $width: 100%,
    $height: 100%,
    $position: absolute,
    $z-index: 1)
{
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    z-index: $z-index;
}

%border-box
{
    box-sizing: border-box;
}

%no-overflow
{
    overflow: hidden;
}

@mixin make-container($padding-x: 0)
{
    width: 100%;
    @include padding-x($padding-x);
    @include margin-x(auto);
}



@mixin sizer($width, $height: $width)
{
    width: $width;
    height: $height;
}