@use '../animation';

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scaleY(3);
  }
}
%bounceOutUp {
    @include animation.load-animation(bounceOutUp);
}

@mixin animated-bounceOutUp (
    $duration: null,
    $delay: null,
    $function: null,
    $direction: null,
    $fill: null,
    $count: null,
    $visibility: null,
    $composition: null
)
{
    @extend %bounceOutUp;
    @include set-animation-properties(
        $duration,
        $delay,
        $function,
        $direction,
        $fill,
        $count,
        $visibility,
        $composition
    );    
}
