@use '../helpers' as *;
@use '../components/animated/attention_seekers/rubberBand' as *;

@mixin home($bg-color: $home-bg) {
    /* Landing Page */

    .blast:hover {
        @extend %rubberBand;
        display: inline-block;
    }

    #home {
        min-height: calc(100vh - 1px);
        max-height: 100vh;

        // padding-bottom: 80px;
        color: $home-bg;
        position: relative;
        background: #161616;

        h1,
        h2 {
            // cursor: pointer;
            background-image: linear-gradient(
                -225deg,
                $cyberpunk-cyan 0%,
                $cyberpunk-yellow 29%,
                $cyberpunk-blue 67%,
                $cyberpunk-red 100%
            );

            background-clip: text;
            background-size: 200% auto;
            color: #fff;
            -webkit-text-fill-color: transparent;
            animation: tclip 5s linear infinite;
            text-align: center;
            @include lg {
                text-align: left;
            }
        }

        @include md-down {
            h1 {
                font-size: 1.375rem;
            }
            h2 {
                font-size: 1.235rem;
            }
        }
    }

    @keyframes tclip {
        to {
            background-position: 200% center;
        }
    }

    // scroll down button
    @keyframes scrollDownButton {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }

    .scroll-down-button {
        position: absolute;
        padding-top: 60px;

        bottom: 48px;
        left: 50vw;

        // margin-bottom: 92px;

        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 30px;
            height: 50px;
            margin-left: -15px;
            border: 2px solid #fff;
            border-radius: 50px;
            box-sizing: border-box;

            &:before {
                position: absolute;
                top: 10px;
                left: 50%;
                content: '';
                width: 6px;
                height: 6px;
                margin-left: -3px;
                background-color: #fff;
                border-radius: 100%;
                animation: scrollDownButton 2s infinite;
                box-sizing: border-box;
            }
        }

        @include lg {
            bottom: 92px;
        }
    }

    .hiro {
        max-height: 70vh;

        @include lg {
            max-height: 90vh;
            height: 100%;
        }

        img {
            object-position: center center;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }
}
