@use '../animation';

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
%fadeInBottomRight {
    @include animation.load-animation(fadeInBottomRight);
}

@mixin animated-fadeInBottomRight (
    $duration: null,
    $delay: null,
    $function: null,
    $direction: null,
    $fill: null,
    $count: null,
    $visibility: null,
    $composition: null
)
{
    @extend %fadeInBottomRight;
    @include set-animation-properties(
        $duration,
        $delay,
        $function,
        $direction,
        $fill,
        $count,
        $visibility,
        $composition
    );    
}
