@import 'swiper/swiper-bundle.min.css';

.page
{
    .swiper
    {
        // width: 90%;

        .swiper-wrapper
        {

            min-height: 70vh;
            align-items: center;

            .swiper-slide
            {
                cursor: grab;
            }
        }

    }
}